body,
body a, h1,h2,h3,h4,h5,
body p,
body label,
body div,
body span,
body button{
	font-family: 'Oswald', sans-serif !important;
}
.container{
	max-width: 100%;
	min-width: 1248px;
}
.room-type,.room-excerpt,.room-price{
	display: block;
	clear: both;
}
.room-item{
	overflow: hidden;
	font-size: 15px;
	display: inline-block;
	float: left;
}
.room-item a{
	font-size: 15px;
	color: #4fb94d;
}
.room-item a.title-link{
	margin-bottom: 15px;
	display: block;
}
.room-item a.img-link{
	min-height: 239px;
	display: block;
}
.room-item a img{
	max-height: 239px;
	clear: both;
	display: block;
	margin-bottom: 10px;
	border-radius: 5px;
}
.room-item h3{
	font-size: 35px;
	margin-bottom: 10px;
}
.room-item a:hover{
	text-decoration: none;
}
.single-room img{
	border-radius: 5px;
	margin: 10px 0 15px 0;
}
.booking-form button.disabled{
	background-color: #ccc !important;
}
.form-group label.error{
	font-size: 13px;
	color: #db8317;
}
.booking-form input{
	border: 1px solid #ccc;
	border-radius: 3px;
}
.booking-form button.button-submit{
	margin-top: 25px;
}
.booking-form button.button-submit,
button:not(:hover):not(:active):not(.has-background){
	background-color: green !important;
    color: #fff;
    font-weight: 450;
    font-size: 15px;
    border: 1px solid green;
    height: 45px;
    text-decoration: none;
}

.booking-form button.button-submit.disabled{
	background-color: #ccc !important;
	border: 1px solid #ccc;
}
.booking-form input[type=text]:focus{
	outline: 0 !important;
}
.booking-form button span.spinner-border{
	width: 20px;
	height: 20px;
	position: relative;
	left: 15px;
}